* { box-sizing: border-box }

h1 { color: #111111 }

body {
  font-family: sans-serif;
  background: #EDEAE5;
  color: #111111;
  max-width: 80%;
  margin: 0 auto;
  text-align: center
}

form { text-align: left }

section {
  background: #FCE181;
  width: 100%;
  box-shadow: 0 4px 8px 0 #FEF9C7, 0 6px 20px 0 #FEF9C7;
  text-align: left
}

a {
  color: #026670;
  text-decoration: none
}

a:hover { color: #9FEDD7 }

#deleteform input { background: #EDEAE5 }

label, input, textarea, button { margin: 1em 0 }

input, textarea, button {
  font-size: 1em;
  padding: 0.5em;
  border-width: 0;
  border-radius: 0.25em
}

input, textarea { width: 100% }

img {
  max-width: 100%;
  max-height: 15em;
  margin: 2.5px
}

button { margin: 0 100px }

.danger {
  background: red;
  color: white
}

.happy {
  background: green;
  color: white
}
