<% include head.ejs %>
<title>Change - PNGallery</title>
<h1>Change</h1>
<form
  action=/change
  method=post
  enctype=multipart/form-data
  >
  <label>
    Your file (PNG only)
    <input
      name=picture
      type=file
      accept=image/png
      required
    >
  </label>
  <label>
    Message
    <input
      name=message
      required
    >
  </label>
  <button>Change</button>
</form>
<% include tail.ejs %>
