<% include head.ejs %>
<title>Not allowed - PNGallery</title>
<h1>Not allowed</h1>
<p>
  You need to be logged in to do that.
  You can <a href=/log-in>Log in</a>
  or
  <a href=/sign-up>Sign up</a>
  <br>You can also
  <a href=/>Click here to go back home</a>
</p>

<% include tail.ejs %>
