<% include head.ejs %>
<title>Movies - My movie website</title>
<h1>Movies</h1>
<p>
  <% if (user) { %>
    Hello <%= user.username %>!
    <a href=/log-out>Log out</a>
  <% } else { %>
    <a href=/log-in>Log in</a>
    or
    <a href=/sign-up>Sign up</a>
  <% } %>
</p>
<% for (var index = 0; index < data.length; index++) { %>
<h2><a href="/<%= data[index].id %>">
<img
  alt="<% data[index].message %>"
  src="/upload/<%= data[index].picture %>">
</img>
</a></h2>
<% } %>
<% if (user) { %>
  <p>
    <a href=/change>Change picture/message</a>
  </p>
<% } %>
<% include tail.ejs %>
