<% include head.ejs %>
<title>PNGallery</title>
<h1>PNGallery</h1>
<h2>Welcome to PNGallery. Where everybody can add 1 (one) picture. And that's it!</h2>
<p>
  <% if (user) { %>
    Hello <%= user.username %>!
    <a href=/log-out>Log out</a>
  <% } else { %>
    <a href=/log-in>Log in</a>
    or
    <a href=/sign-up>Sign up</a>
  <% } %>
</p>
<section>
<% for (var index = 0; index < data.length; index++) { %>
<a href="/<%= data[index].id %>">
<img
  alt="<% data[index].message %>"
  src="/upload/<%= data[index].picture %>">
</img>
</a>
<% } %>
</section>
<% include tail.ejs %>
